<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paypal - Subscribe</title>
</head>

<body class="body">
	<div class="container">
		<form name="topaypal" action="{{payment_web_base}}/cgi-bin/webscr" method="post">
			<input type="hidden" name="cmd" value="_xclick-subscriptions">
			<input type="hidden" name="custom" value="{{custom_env}}"/>
			<input type="hidden" name="business" value="{{merchant_email}}">
			<input type="hidden" name="item_name" value="subscription button">
			<input type="hidden" name="item_number" value="500">
			<input type="hidden" name="no_shipping" value="1">
			<input type="hidden" name="a3" value="2.00">
			<input type="hidden" name="p3" value="1">
			<input type="hidden" name="t3" value="M">
			<input type="hidden" name="src" value="1">
			<input type="hidden" name="sra" value="1">
			<input type="hidden" name="return" value="{{merchant_success_page}}">
			<input type="hidden" name="cancel_return" value="{{merchant_cancel_page}}">
			<input type="hidden" name="notify_url" value="{{merchant_nofiy_page}}">
			<input type="submit" value="Subscribe" name="submit" title="PayPal - The safer, easier way to pay online!" class="btn btn-primary">
		</form>
	</div>
</body>
</html>